<div class="container" >
  <footer class="row row-cols-5 py-5 my-5 border-top navbar navbar-expand-lg navbar-light bg-light">
    <div class="col">

      <h2>Vaccination</h2>
      <p class="text-muted"> Our goal is to help the <br>
      world free from the <br>
      ongoing pandemic</p>


    </div>

    <div class="col">

    </div>

    <div class="col">
      <h5>About</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About Us</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">News & Blog</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Company</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">How We Work?</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Capital</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Security</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Support</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Support Center</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contact Us</a></li>
      </ul>
      <br><br>
    </div>
  </footer>
  <p class="text-muted"> &copy;2021 Vacinnation. All rights reserved </p>
  <p class="izquierda"> Terms & Agreements     Privacy Policy </p>

</div>

