<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="jasmine_content"><br><br><br><br></div>
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container"><div class="collapse navbar-collapse " id="navbarTogglerDemo01">
      <a class="navbar-brand" style="color: blue"  ><h3>Vaccination</h3></a>

      <ul class="navbar-nav me-auto mb-0 mb-lg-0  ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Database</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Regulation</a>
        </li>
      </ul>

      <form class="d-flex ">
        <button type="button" class="btn btn-primary">Hoax Buster</button>
      </form>
    </div></div>

  </div>
</nav>
