<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<img class="derecha" src="assets/Enfermera/Captura.PNG" alt="">
<br><br><br>
<div class="container nav-link p-0 text-muted"><h1>Fight Virus <br> With Vaccines</h1><br><br>
  <p>Let´s stop this pandemic by killing the virus <br>
    with a vaccine. don't let yourself and your <br>
    family get infected </p>
  <br>

  <p style="color: darkblue"><img src="assets/iconos/smb.PNG" alt=""> Best protection   <img src="assets/iconos/Estrella.PNG" alt=""> Selected Vaccines</p>
  <br><br><br>
  <p style="color: darkblue"><img src="assets/iconos/reloj.PNG" alt=""> Schedule your vaccinations  </p>
</div>
<br><br><br><br>

<app-corousel-mvaccines></app-corousel-mvaccines>
<br><br><br>
<div class="container nav-link p-0 text-muted">
  <h1>Why should I vaccine?</h1>
  <br>
  <p>In order to avoid any doubts about getting the COVID-19 <br>
    vaccinre, identify the following 4 benefits of COVID-19 <br>
    vaccination :</p>
</div>



<div class="container row row-cols-5 py-5 my-5  navbar navbar-expand-lg navbar-light ">
  <br><br>
  <div class="col">

  </div>
  <div class="col">
  <div class="card text-dark  mb-3" style="max-width: 18rem;">
    <div class="card-body">
       <img src="assets/iconos/1.PNG" alt=""> <br> <br>
        <h5>Minimize the spread of viruses</h5>
          <p href="#" class="nav-link p-0 text-muted"> Vaccine has been proven
          effective to prevent someone
          from getting infected with
          Coronavirus</p>
      </div>
  </div>
  </div>

  <div class="col">
    <div class="card text-dark  mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <img src="assets/iconos/2.PNG" alt=""> <br> <br>
        <h5>Forming antibodies</h5>
        <p href="#" class="nav-link p-0 text-muted"> COVID-19 vaccine proven to
        help shape antibody
        response for inmune system</p>
        <br><br>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card text-dark  mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <img src="assets/iconos/3.PNG" alt=""> <br> <br>
        <h5>Protecting people nearby</h5>
        <p href="#" class="nav-link p-0 text-muted"> The benefits of COVID-19
        vaccination are the vaccine
        that we get can also help
        protect people around us</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card text-dark  mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <img src="assets/iconos/4.PNG" alt=""> <br> <br>
        <h5>Creating group immunity</h5>
        <p href="#" class="nav-link p-0 text-muted"> COVID-19 vaccination is also
        beneficial for creating grooup
        immunity or herd immunity.</p>
      </div>
    </div>
  </div>

</div>
<br><br><br>

<img class="izquierda" src="assets/Enfermera/Capturas.PNG" alt="">

<div class="container derecha nav-link p-0 text-muted"><h1> Preparations Before Vaccine </h1><br><br>
  <p> The success of vaccines is strongly influenced by the <br>
  strength of the body's immune system. Therefore, there are <br>
  several things that can be tried to make the COVID-19 <br>
  vaccine work:</p>
  <br>


</div>
<div class="izquierda w-50">
  <div class="accordion-item ">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><img src="assets/enf2/1.PNG" alt="">
        Avoid alcoholic beverages
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        How To Prevent Alcohol Misuse <br>
        - Don't Keep Alcohol At Home. If you don't have alcohol at home, you can't drink it. ...<br>
        - Know Your Drinking Limits. ...<br>
        - Surround Yourself With Non-Drinkers. ...<br>
        - Know The Consequences Of Excessive Alcohol Use. ...<br>
        - Tell Loved Ones Your Concerns. ...<br>
        - Treatment Can Always Be An Option.<br>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> <img src="assets/enf2/2.PNG" alt="">
        Avoid stress
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
         Stress has a profound effect on inmune work. <br>
        Moreover, prolonged stress can increase cortisol <br>
        production and oxidative stree in the body.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> <img src="assets/enf2/3.PNG" alt="">
        Eat healthy food
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> <img src="assets/enf2/4.PNG" alt="">
        Get enough sleep
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>


</div>


<br><br><br><br><br><br><br><br><br><br>

<img class="derecha" src="assets/Enfermera/Captura3.PNG" alt="">
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="container nav-link p-0 text-muted"><h1>Emergency Contact</h1><br><br>
  <p> Contact one of the contacts below if you or your family feel <br>
  unwell and have similar sympoms such as Covid-19, make <br>
  sure you also take care of yourself before reporting to us :</p>
  <br>





</div>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>


</body>
</html>

